@charset "UTF-8";

/* ---------------------------------- Utils --------------------------------- */

:root {
  --container-width: 1280px;
  --font-family: "OpenSans";
  --font-weight: 400;
  --primary-color: #e8c300;
}

/* ---------------------------------- /Utils --------------------------------- */

/* --------------------------------- Vendors -------------------------------- */

.vbox-overlay {
  --vbox-tools-color: #fff;
  --vbox-title-background: #101010;
  --vbox-title-width: "auto";
  --vbox-title-radius: 0;
  --vbox-share-background: #101010;
  --vbox-share-width: "auto";
  --vbox-share-radius: 0;
  --vbox-padding: 0;
}

.vbox-overlay *,
.vbox-overlay :after,
.vbox-overlay :before {
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
}

.vbox-overlay * {
  backface-visibility: visible;
}

.vbox-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
}

.vbox-share,
.vbox-title {
  line-height: 1;
  position: fixed;
  z-index: 98;
  text-align: center;
  margin: 0 auto;
  color: var(--vbox-tools-color);
}

.vbox-title {
  font-size: 12px;
  background-color: var(--vbox-title-background);
  width: var(--vbox-title-width);
  border-radius: var(--vbox-title-radius);
  padding: 12px 54px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.vbox-share {
  font-size: 24px;
  padding: 0 0.35em;
  background-color: var(--vbox-share-background);
  width: var(--vbox-share-width);
  border-radius: var(--vbox-share-radius);
}

.vbox-link-btn,
button.vbox-link-btn,
button.vbox-link-btn:active,
button.vbox-link-btn:focus,
button.vbox-link-btn:hover {
  border: none !important;
  background: 0 0 !important;
  box-shadow: none !important;
  color: inherit !important;
  padding: 6px 12px;
  outline: 0;
  display: inline-block;
  cursor: pointer;
}

.vbox-share a {
  color: inherit !important;
  padding: 6px 12px;
  display: inline-block;
}

.vbox-share svg {
  z-index: 10;
  vertical-align: middle;
}

.vbox-close {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  padding: 6px 15px;
  color: #000;
  color: var(--vbox-tools-color);
  border: 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.vbox-close:hover {
  opacity: 1;
}

.vbox-left-corner {
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  line-height: 1;
  font-size: 12px;
  z-index: 99;
  display: flex;
  align-items: center;
  color: var(--vbox-tools-color);
}

.vbox-num {
  display: inline-block;
  padding: 12px 15px;
}

.vbox-left {
  left: 0;
}

.vbox-right {
  right: 0;
}

.vbox-top {
  top: 0;
}

.vbox-bottom {
  bottom: 0;
}

.vbox-next,
.vbox-prev {
  position: fixed;
  top: 50%;
  margin-top: -15px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 45px;
  height: 45px;
  z-index: 99;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.vbox-next:hover,
.vbox-prev:hover {
  opacity: 1;
}

.vbox-next span,
.vbox-prev span {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: var(--vbox-tools-color);
  border-right-color: var(--vbox-tools-color);
  text-indent: -100px;
  position: absolute;
  top: 8px;
  display: block;
}

.vbox-prev {
  left: 15px;
}

.vbox-next {
  right: 15px;
}

.vbox-prev span {
  left: 10px;
  transform: rotate(-135deg);
}

.vbox-next span {
  transform: rotate(45deg);
  right: 10px;
}

.vbox-inline,
.venoratio {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.venoratio::before {
  display: block;
  padding-top: var(--vb-aspect-ratio);
  content: "";
}

.venoratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--vbox-padding);
}

.venoratio-1x1 {
  --vb-aspect-ratio: 100%;
}

.venoratio-4x3 {
  --vb-aspect-ratio: calc(3 / 4 * 100%);
}

.venoratio-16x9 {
  --vb-aspect-ratio: calc(9 / 16 * 100%);
}

.venoratio-21x9 {
  --vb-aspect-ratio: calc(9 / 21 * 100%);
}

.venoratio-full {
  --vb-aspect-ratio: calc(100vh - 100px);
}

.vbox-child.vbox-inline,
.vbox-child.venoratio {
  max-width: 100%;
}

.vbox-open {
  overflow: hidden;
}

.vbox-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  z-index: 20;
  max-height: 100%;
  padding: 30px 0;
}

.vbox-content {
  opacity: 0;
}

.vbox-content {
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 20px 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.vbox-container img {
  max-width: 100%;
  height: auto;
}

.vbox-child {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 100%;
  text-align: initial;
  padding: var(--vbox-padding);
}

.vbox-child img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
}

.vbox-grab .vbox-child img {
  cursor: grab;
}

.vbox-child > iframe {
  border: none !important;
}

.vbox-content.swipe-left {
  margin-left: -200px !important;
}

.vbox-content.swipe-right {
  margin-left: 200px !important;
}

.vbox-preloader {
  transform: translateZ(0);
}

.vbox-preloader .vbox-preloader-inner {
  opacity: 1;
  transition: opacity 0.2s;
}

.vbox-hidden {
  display: none;
}

.vbox-preloader.vbox-hidden .vbox-preloader-inner {
  opacity: 0;
}

.vbox-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(-1px);
  z-index: 0;
}

.vbox-tooltip {
  position: relative;
  display: inline-block;
}

.vbox-tooltip .vbox-tooltip-text {
  visibility: hidden;
  color: #fff;
  text-align: center;
  padding: 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  margin-bottom: 2px;
  font-family: sans-serif;
}

.vbox-top .vbox-tooltip .vbox-tooltip-text {
  bottom: auto;
  top: 100%;
  margin-bottom: 0;
  margin-top: 2px;
}

.vbox-tooltip-inner {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  font-size: 10px;
}

.vbox-tooltip:hover .vbox-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.vbox-overlay {
  --sk-size: 40px;
  --sk-color: #333;
}

.sk-center {
  margin: auto;
}

.sk-plane {
  width: var(--sk-size);
  height: var(--sk-size);
  background-color: var(--sk-color);
  animation: sk-plane 1.2s infinite ease-in-out;
}

@keyframes sk-plane {
  0% {
    transform: perspective(120px) rotateX(0) rotateY(0);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.sk-chase {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  100%, 80% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }

  0%, 100% {
    transform: scale(1);
  }
}

.sk-bounce {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
}

.sk-bounce-dot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--sk-color);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sk-bounce-dot:nth-child(2) {
  animation-delay: -1s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  }

  45%, 55% {
    transform: scale(1);
  }
}

.sk-wave {
  width: var(--sk-size);
  height: var(--sk-size);
  display: flex;
  justify-content: space-between;
}

.sk-wave-rect {
  background-color: var(--sk-color);
  height: 100%;
  width: 15%;
  animation: sk-wave 1.2s infinite ease-in-out;
}

.sk-wave-rect:nth-child(1) {
  animation-delay: -1.2s;
}

.sk-wave-rect:nth-child(2) {
  animation-delay: -1.1s;
}

.sk-wave-rect:nth-child(3) {
  animation-delay: -1s;
}

.sk-wave-rect:nth-child(4) {
  animation-delay: -0.9s;
}

.sk-wave-rect:nth-child(5) {
  animation-delay: -0.8s;
}

@keyframes sk-wave {
  0%, 100%, 40% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

.sk-pulse {
  width: var(--sk-size);
  height: var(--sk-size);
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-pulse 1.2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes sk-pulse {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.sk-flow {
  width: calc(var(--sk-size) * 1.3);
  height: calc(var(--sk-size) * 1.3);
  display: flex;
  justify-content: space-between;
}

.sk-flow-dot {
  width: 25%;
  height: 25%;
  background-color: var(--sk-color);
  border-radius: 50%;
  animation: sk-flow 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite both;
}

.sk-flow-dot:nth-child(1) {
  animation-delay: -0.3s;
}

.sk-flow-dot:nth-child(2) {
  animation-delay: -0.15s;
}

@keyframes sk-flow {
  0%, 100%, 80% {
    transform: scale(0.3);
  }

  40% {
    transform: scale(1);
  }
}

.sk-swing {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
  animation: sk-swing 1.8s infinite linear;
}

.sk-swing-dot {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-swing-dot 2s infinite ease-in-out;
}

.sk-swing-dot:nth-child(2) {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes sk-swing {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-swing-dot {
  0%, 100% {
    transform: scale(0.2);
  }

  50% {
    transform: scale(1);
  }
}

.sk-circle {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
}

.sk-circle-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle-dot:before {
  content: "";
  display: block;
  width: 15%;
  height: 15%;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-circle 1.2s infinite ease-in-out both;
}

.sk-circle-dot:nth-child(1) {
  transform: rotate(30deg);
}

.sk-circle-dot:nth-child(2) {
  transform: rotate(60deg);
}

.sk-circle-dot:nth-child(3) {
  transform: rotate(90deg);
}

.sk-circle-dot:nth-child(4) {
  transform: rotate(120deg);
}

.sk-circle-dot:nth-child(5) {
  transform: rotate(150deg);
}

.sk-circle-dot:nth-child(6) {
  transform: rotate(180deg);
}

.sk-circle-dot:nth-child(7) {
  transform: rotate(210deg);
}

.sk-circle-dot:nth-child(8) {
  transform: rotate(240deg);
}

.sk-circle-dot:nth-child(9) {
  transform: rotate(270deg);
}

.sk-circle-dot:nth-child(10) {
  transform: rotate(300deg);
}

.sk-circle-dot:nth-child(11) {
  transform: rotate(330deg);
}

.sk-circle-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-circle-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-circle-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-circle-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-circle-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-circle-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

.sk-circle-dot:nth-child(7):before {
  animation-delay: -0.5s;
}

.sk-circle-dot:nth-child(8):before {
  animation-delay: -0.4s;
}

.sk-circle-dot:nth-child(9):before {
  animation-delay: -0.3s;
}

.sk-circle-dot:nth-child(10):before {
  animation-delay: -0.2s;
}

.sk-circle-dot:nth-child(11):before {
  animation-delay: -0.1s;
}

@keyframes sk-circle {
  0%, 100%, 80% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

.sk-circle-fade {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
}

.sk-circle-fade-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle-fade-dot:before {
  content: "";
  display: block;
  width: 15%;
  height: 15%;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-circle-fade 1.2s infinite ease-in-out both;
}

.sk-circle-fade-dot:nth-child(1) {
  transform: rotate(30deg);
}

.sk-circle-fade-dot:nth-child(2) {
  transform: rotate(60deg);
}

.sk-circle-fade-dot:nth-child(3) {
  transform: rotate(90deg);
}

.sk-circle-fade-dot:nth-child(4) {
  transform: rotate(120deg);
}

.sk-circle-fade-dot:nth-child(5) {
  transform: rotate(150deg);
}

.sk-circle-fade-dot:nth-child(6) {
  transform: rotate(180deg);
}

.sk-circle-fade-dot:nth-child(7) {
  transform: rotate(210deg);
}

.sk-circle-fade-dot:nth-child(8) {
  transform: rotate(240deg);
}

.sk-circle-fade-dot:nth-child(9) {
  transform: rotate(270deg);
}

.sk-circle-fade-dot:nth-child(10) {
  transform: rotate(300deg);
}

.sk-circle-fade-dot:nth-child(11) {
  transform: rotate(330deg);
}

.sk-circle-fade-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-circle-fade-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-circle-fade-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-circle-fade-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-circle-fade-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-circle-fade-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

.sk-circle-fade-dot:nth-child(7):before {
  animation-delay: -0.5s;
}

.sk-circle-fade-dot:nth-child(8):before {
  animation-delay: -0.4s;
}

.sk-circle-fade-dot:nth-child(9):before {
  animation-delay: -0.3s;
}

.sk-circle-fade-dot:nth-child(10):before {
  animation-delay: -0.2s;
}

.sk-circle-fade-dot:nth-child(11):before {
  animation-delay: -0.1s;
}

@keyframes sk-circle-fade {
  0%, 100%, 39% {
    opacity: 0;
    transform: scale(0.6);
  }

  40% {
    opacity: 1;
    transform: scale(1);
  }
}

.sk-grid {
  width: var(--sk-size);
  height: var(--sk-size);
}

.sk-grid-cube {
  width: 33.33%;
  height: 33.33%;
  background-color: var(--sk-color);
  float: left;
  animation: sk-grid 1.3s infinite ease-in-out;
}

.sk-grid-cube:nth-child(1) {
  animation-delay: 0.2s;
}

.sk-grid-cube:nth-child(2) {
  animation-delay: 0.3s;
}

.sk-grid-cube:nth-child(3) {
  animation-delay: 0.4s;
}

.sk-grid-cube:nth-child(4) {
  animation-delay: 0.1s;
}

.sk-grid-cube:nth-child(5) {
  animation-delay: 0.2s;
}

.sk-grid-cube:nth-child(6) {
  animation-delay: 0.3s;
}

.sk-grid-cube:nth-child(7) {
  animation-delay: 0s;
}

.sk-grid-cube:nth-child(8) {
  animation-delay: 0.1s;
}

.sk-grid-cube:nth-child(9) {
  animation-delay: 0.2s;
}

@keyframes sk-grid {
  0%, 100%, 70% {
    transform: scale3D(1, 1, 1);
  }

  35% {
    transform: scale3D(0, 0, 1);
  }
}

.sk-fold {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
  transform: rotateZ(45deg);
}

.sk-fold-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.sk-fold-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sk-color);
  animation: sk-fold 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-fold-cube:nth-child(2) {
  transform: scale(1.1) rotateZ(90deg);
}

.sk-fold-cube:nth-child(4) {
  transform: scale(1.1) rotateZ(180deg);
}

.sk-fold-cube:nth-child(3) {
  transform: scale(1.1) rotateZ(270deg);
}

.sk-fold-cube:nth-child(2):before {
  animation-delay: 0.3s;
}

.sk-fold-cube:nth-child(4):before {
  animation-delay: 0.6s;
}

.sk-fold-cube:nth-child(3):before {
  animation-delay: 0.9s;
}

@keyframes sk-fold {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    transform: perspective(140px) rotateX(0);
    opacity: 1;
  }

  100%, 90% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.sk-wander {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
}

.sk-wander-cube {
  background-color: var(--sk-color);
  width: 20%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  --sk-wander-distance: calc(var(--sk-size) * 0.75);
  animation: sk-wander 2s ease-in-out -2s infinite both;
}

.sk-wander-cube:nth-child(2) {
  animation-delay: -0.5s;
}

.sk-wander-cube:nth-child(3) {
  animation-delay: -1s;
}

@keyframes sk-wander {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: translateX(var(--sk-wander-distance)) rotate(-90deg) scale(0.6);
  }

  50% {
    transform: translateX(var(--sk-wander-distance)) translateY(var(--sk-wander-distance)) rotate(-179deg);
  }

  50.1% {
    transform: translateX(var(--sk-wander-distance)) translateY(var(--sk-wander-distance)) rotate(-180deg);
  }

  75% {
    transform: translateX(0) translateY(var(--sk-wander-distance)) rotate(-270deg) scale(0.6);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* --------------------------------- /Vendors -------------------------------- */

/* ---------------------------------- Base ---------------------------------- */

/* ---------------------------------- Reset --------------------------------- */

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */

a,
a:link,
a:visited {
  /*   color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /*   color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* ---------------------------------- /Reset --------------------------------- */

@font-face {
  font-family: BannyBoldRound;
  font-display: swap;
  src: url("../fonts/Banny Bold Round.woff2") format("woff2"), url("../fonts/Banny Bold Round.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* ---------------------------------- Base ---------------------------------- */

body {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight);
}

body._lock {
  overflow: hidden;
  touch-action: none;
}

section {
  overflow: hidden;
}

button {
  cursor: pointer;
}

/* --------------------------- Свойства контейнера -------------------------- */

[class*=__container] {
  max-width: calc(var(--container-width) + 30px);
  margin: 0 auto;
  padding: 0 15px;
}

/* ---------------------------------- /Base ---------------------------------- */

/* ---------------------------------- /Base ---------------------------------- */

/* --------------------------------- Layout --------------------------------- */

/* --------------------------------- Header --------------------------------- */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.header__container {
  position: relative;
}

.header__logo {
  max-width: 150px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.25s;
}

.header-menu__list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-menu__item {
  width: clamp(5.625rem, -0.453rem + 9.8vw, 8.125rem);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu__link {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}

.header-menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#header__toogle {
  opacity: 0;
}

.header__button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  width: 30px;
  height: 26px;
  cursor: pointer;
}

.header__button > span,
.header__button > span::before,
.header__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.header__button > span::before {
  content: "";
  top: -8px;
}

.header__button > span::after {
  content: "";
  top: 8px;
}

#header__toogle:checked ~ .header__button > span {
  transform: rotate(45deg);
}

#header__toogle:checked ~ .header__button > span::before {
  top: 0;
  transform: rotate(0);
}

#header__toogle:checked ~ .header__button > span::after {
  top: 0;
  transform: rotate(90deg);
}

#header__toogle:checked ~ .header-menu {
  visibility: visible;
  right: 0;
}

.header__button > span,
.header__button > span::before,
.header__button > span::after {
  transition-duration: 0.25s;
}

.header-menu__item {
  transition-duration: 0.25s;
}

/* --------------------------------- /Header --------------------------------- */

/* ---------------------------------- Hero ---------------------------------- */

.no-webp .hero{
  background: url("../img/header-bg.jpeg") center center/cover no-repeat; }

.hero {
  min-height: 100vh;
  padding-top: 200px;
  padding-bottom: 40px;
  background: black;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.hero__container {
  display: flex;
  width: 100%;
}

.hero .work-time {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;
}

.hero .work-time__text {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  max-width: 145px;
}

.hero .hero-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
}

.hero .hero-main::before {
  content: "";
  position: absolute;
  top: 101px;
  z-index: -1;
  width: clamp(6.25rem, -7.639rem + 69.44vw, 53.125rem);
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.hero .hero-main__text {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.17;
  color: #ffffff;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero .hero-main__title {
  padding-top: 5px;
  font-family: "BannyBoldRound";
  font-weight: 700;
  font-size: clamp(3.75rem, 3.083rem + 3.33vw, 6rem);
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero .hero-main__buttons {
  display: flex;
  gap: 40px;
  padding-top: 30px;
}

.hero .hero-main__button {
  width: 200px;
  min-height: 60px;
}

.hero .hero-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 20px;
  flex: 1;
}

.hero .hero-socials__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: all 0.5s;
}

/* ---------------------------------- /Hero ---------------------------------- */

/* ---------------------------------- About --------------------------------- */

.about {
  padding: clamp(2.5rem, 1.389rem + 5.56vw, 6.25rem) 0;
}

.about__container {
  display: flex;
  align-items: center;
  gap: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
}

.about__main {
  display: flex;
  flex-direction: column;
}

.about__text {
  margin-top: 13px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ---------------------------------- /About --------------------------------- */

/* ---------------------------------- Team ---------------------------------- */

.no-webp .team{
  background: url("../img/team/team-bg.jpeg") center center/cover no-repeat; }

.team {
  padding: clamp(2.5rem, 1.389rem + 5.56vw, 6.25rem) 0;
}

.team__container {
  display: flex;
  align-items: center;
  gap: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
}

.team__main {
  display: flex;
  flex-direction: column;
  order: 2;
}

.team__text {
  margin-top: 13px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ---------------------------------- /Team ---------------------------------- */

/* --------------------------------- Booking -------------------------------- */

.booking {
  padding: clamp(2.5rem, 1.389rem + 5.56vw, 6.25rem) 0;
}

.booking__container {
  display: flex;
  align-items: center;
  gap: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
  justify-content: end;
}

.booking__main {
  display: flex;
  flex-direction: column;
}

.booking-form {
  margin-top: 20px;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, minmax(220px, 277px));
  grid-template-rows: repeat(4, 60px);
  grid-auto-rows: 60px;
  gap: 10px;
}

.booking-form__button {
  grid-column: 1/3;
}

/* --------------------------------- /Booking -------------------------------- */

/* ------------------------------ Specialties ------------------------------ */

.no-webp .specialties{
  background: url("../img/specialties/specialties-bg.jpeg") center center/cover no-repeat; }

.specialties {
  padding: clamp(2.5rem, 1.389rem + 5.56vw, 6.25rem) 0;
}

.specialties__container {
  display: flex;
  align-items: center;
  gap: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
}

.specialties__main {
  display: flex;
  flex-direction: column;
  order: 2;
}

.specialties__text {
  margin-top: 13px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ------------------------------ /Specialties ------------------------------ */

/* ---------------------------------- Menu ---------------------------------- */

.menu {
  padding: clamp(2.5rem, 1.389rem + 5.56vw, 6.25rem) 0;
}

.menu__container {
  display: flex;
  flex-direction: column;
}

.menu__lead {
  max-width: 565px;
  padding-top: 20px;
}

.menu-tabs {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}

.menu-tabs__head {
  display: flex;
  align-self: center;
}

.menu-tabs__caption {
  width: 120px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  cursor: pointer;
  transition: 0.25s;
}

.menu-tabs__caption:nth-child(2) {
  border-left: 1px solid rgba(51, 51, 51, 0.2);
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.menu-tabs__caption_active {
  background: rgba(153, 153, 153, 0.0862745098);
}

.menu-tabs__body {
  position: relative;
  top: -2px;
  transition: 0.25s;
}

.menu-tabs__body .menu-content {
  display: none;
  opacity: 0;
  transform: scaleY(0.8);
  transform-origin: center top;
  animation: showContent 0.6s forwards;
}

.menu-tabs__body .menu-content_active {
  width: 100%;
  min-height: 430px;
  display: flex;
  overflow: visible;
}

.menu-tabs__body .menu-content__controls {
  position: absolute;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.menu-tabs__body .menu-content__button-prev,
.menu-tabs__body .menu-content__button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.menu-tabs__body .menu-content__button-prev svg,
.menu-tabs__body .menu-content__button-next svg {
  width: 100%;
  height: 100%;
}

.menu-tabs__body .menu-content__button-prev {
  transform: rotate(180deg);
}

.menu-tabs__body .menu-content__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 365px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  padding-top: 32px;
}

.menu-item:first-child {
  padding-top: 0;
}

.menu-item__text {
  max-width: 260px;
}

.menu-item__title,
.menu-item__price {
  font-family: "BannyBoldRound";
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #333333;
}

.menu-item__desc {
  font-size: 12px;
  color: #999999;
}

.menu-item__price {
  align-self: start;
}

.swiper-button-disabled {
  opacity: 0.5;
}

@keyframes showContent {
  0% {
    transform: scaleY(0.8);
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

/* ---------------------------------- /Menu ---------------------------------- */

/* --------------------------------- Events --------------------------------- */

.no-webp .events{
  background: url("../img/events/events-bg.jpeg") center center/cover no-repeat; }

.events {
  padding: clamp(2.5rem, 1.389rem + 5.56vw, 6.25rem) 0;
}

.events__container {
  display: flex;
  align-items: center;
  gap: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
}

.events__text {
  position: absolute;
  bottom: 0px;
  min-height: 80px;
  width: 100%;
  background: #000000;
  font-family: "BannyBoldRound";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
  border-radius: 0px 0px 5px 5px;
}

.events__text_top {
  top: 0;
  bottom: auto;
  border-radius: 5px 5px 0px 0px;
}

/* --------------------------------- /Events --------------------------------- */

/* --------------------------------- Gallery -------------------------------- */

.gallery__container {
  max-width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

.gallery__item {
  width: 100%;
  height: 100%;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* --------------------------------- /Gallery -------------------------------- */

.contact {
  padding: clamp(2.5rem, 1.389rem + 5.56vw, 6.25rem) 0;
}

.contact__lead {
  max-width: 565px;
  padding-top: 20px;
}

.contact-form {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 420px));
  grid-template-rows: 60px 120px 60px;
  grid-auto-rows: minmax(60px, auto);
  gap: 10px;
}

.contact-form__textarea {
  grid-column: 1/4;
  padding: 20px;
  resize: none;
}

.contact-form__button {
  grid-column: 1/4;
}

/* ----------------------------------- Map ---------------------------------- */

.map {
  height: 475px;
}

/* ----------------------------------- /Map ---------------------------------- */

/* --------------------------------- Footer --------------------------------- */

.footer {
  min-height: 100px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__rights {
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.footer__rights span {
  font-weight: 700;
}

/* --------------------------------- /Footer --------------------------------- */

/* --------------------------------- /Layout --------------------------------- */

/* ------------------------------- Components ------------------------------- */

.divider {
  width: 60px;
  height: 5px;
  margin: 10px auto 0 auto;
  background: var(--primary-color);
  border-radius: 50px;
}

.title {
  font-family: "BannyBoldRound";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.title_white {
  color: #ffffff;
}

.lead {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.56;
  text-align: center;
  margin: 0 auto;
  color: #000000;
}

.lead_white {
  color: #ffffff;
}

.desc {
  font-size: 0.875rem;
  line-height: 1.71;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
}

.desc_white {
  color: #ffffff;
}

.deco {
  width: 250px;
  aspect-ratio: 1;
  border: 20px solid var(--primary-color);
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
}

.deco_left {
  left: 0%;
}

.photo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.photo-wrapper_left {
  padding-right: 0;
}

.photo-wrapper__img {
  max-width: 475px;
  aspect-ratio: 1;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
}

.photo-wrapper__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.button {
  background: var(--primary-color);
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.67;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: 1px solid var(--primary-color);
  transition: all 0.5s;
}

.button:active {
  opacity: 0.5;
}

.button_transparent {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}

.input {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: #e5e5e5;
  border-radius: 5px;
  font-size: 0.875rem;
  line-height: 1.3;
  color: rgba(51, 51, 51, 0.5);
}

/* ------------------------------- /Components ------------------------------- */

@media (min-width: 992px) {
  #header__toogle {
    display: none;
  }

  .header__button {
    display: none;
  }

  .menu-tabs__body .menu-content__controls {
    display: none;
  }

  .photo-wrapper {
    padding-right: 125px;
  }

  .photo-wrapper_left {
    padding-left: 125px;
  }
}

@media (max-width: 1399px) {
  .hero .work-time {
    justify-content: center;
  }

  .hero .hero-socials {
    align-items: center;
  }
}

@media (max-width: 1220px) {
  .menu-item {
    width: 260px;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 1199px) {
  .deco {
    width: 220px;
  }

  .photo-wrapper__img {
    max-width: 475px;
  }
}

@media (max-width: 992px) {
  .menu-tabs {
    gap: 80px;
  }

  .gallery__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .header__logo {
    top: 100%;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 50;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }

  .header-menu__list {
    flex-direction: column;
    border: none;
    gap: 10px;
  }

  .header-menu__item {
    height: 40px;
  }

  .hero .hero-main {
    flex: 3;
  }

  .hero .hero-main::before {
    top: 0;
  }

  .about__container {
    flex-direction: column;
  }

  .about__main {
    order: 2;
  }

  .team__container {
    flex-direction: column;
  }

  .booking__container {
    flex-direction: column;
  }

  .booking__container {
    justify-content: center;
  }

  .booking__main {
    order: 2;
  }

  .specialties__container {
    flex-direction: column;
  }

  .events__container {
    flex-direction: column;
  }

  .deco {
    right: -25%;
  }

  .deco_left {
    left: -25%;
  }
}

@media (max-width: 767px) {
  .hero__container {
    flex-direction: column;
    align-items: center;
  }

  .hero .work-time {
    order: 2;
    padding-top: 20px;
  }

  .hero .work-time__text {
    max-width: 100%;
    white-space: nowrap;
  }

  .hero .hero-main::before {
    display: none;
  }

  .hero .hero-socials {
    flex-direction: row;
    order: 3;
    padding-top: 20px;
  }

  .contact-form {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px 120px 60px;
  }

  .contact-form__input {
    grid-column: 1/2;
  }

  .contact-form__textarea {
    grid-column: 1/2;
  }

  .contact-form__button {
    grid-column: 1/2;
  }

  .photo-wrapper__img {
    max-width: 400px;
  }
}

@media (max-width: 630px) {
  .deco {
    height: 200px;
    width: 350px;
    right: -270px;
  }

  .deco_left {
    left: -270px;
  }
}

@media (max-width: 575px) {
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__logo img {
    width: 80%;
  }

  .hero {
    padding-top: 180px;
  }

  .hero .hero-main__buttons {
    flex-direction: column;
    gap: 10px;
    width: 90%;
    padding-top: 20px;
  }

  .hero .hero-main__button {
    width: 100%;
  }

  .booking-form {
    grid-template-columns: minmax(auto, 400px);
    row-gap: 10px;
    -moz-column-gap: 0;
         column-gap: 0;
  }

  .booking-form__input {
    grid-column: 1/2;
  }

  .menu-tabs__caption {
    width: 90px;
  }

  .events__text_top {
    justify-content: end;
  }
}

@media (max-width: 425px) {
  .header-menu {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .gallery__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1399px) and (min-width: 768px) {
  .hero .hero-main {
    max-width: calc(clamp(6.25rem, -7.639rem + 69.44vw, 53.125rem) - 40px);
    padding: 0 20px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .hero .hero-main__buttons {
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }

  .hero .hero-main__button {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .header-menu__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hero .hero-socials__icon:hover {
    transform: translateX(15px);
  }

  .button:hover {
    background: transparent;
    color: var(--primary-color);
  }

  .button_transparent:hover {
    background: #ffffff;
    color: black;
  }
}

.webp .hero{ background: url(../img/header-bg.webp) center center/cover no-repeat; }

.webp .team{ background: url(../img/team/team-bg.webp) center center/cover no-repeat; }

.webp .specialties{ background: url(../img/specialties/specialties-bg.webp) center center/cover no-repeat; }

.webp .events{ background: url(../img/events/events-bg.webp) center center/cover no-repeat; }