/* --------------------------------- Footer --------------------------------- */

.footer {
  min-height: 100px;

  background: #000000;

  display: flex;
  justify-content: center;
  align-items: center;

  &__rights {
    font-size: 0.75rem;
    line-height: 1;
    text-align: center;

    color: rgba(255, 255, 255, 0.5);

    span {
      font-weight: 700;
    }
  }
}

/* --------------------------------- /Footer --------------------------------- */
